@model ProyectoTeatro.Models.Obra

@{ ViewData["Title"] = "Details"; }


<head>
    <style>
        .titulo {
            visibility: hidden;
            margin-left: -300px;
        }

            .titulo::after {
                content: "Reserva";
                visibility: visible;
                font-size: .5em;
                margin-bottom: 10px;
            }
        .contenedorDetalles {
        color:white;
        }
        .inputReservar {
            background-color: white;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            color: #241f21;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.4;
            padding: 10px;
            width: 180px
        }
        .inputReservar:hover {
            background-color: #241f21;
            transition: 0.5s;
            color: #fff;
        }

        .botonazo .hijoDeBotonazo {
            background-color: #460d0a;
            border: 1px solid white;
            border-radius: 5px;
            cursor: pointer;
            color: #241f21;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.4;
            padding: 10px;
            width: 180px
        }
        .hijoDeBotonazo a {
            text-decoration: none;
            color: white!important;
        }
        
        .botonazo .hijoDeBotonazo:hover {
            background-color: white;
            border: 1px solid #241f21;
            border-radius: 5px;
            color: #241f21 !important;
            transition: 0.5s;
        }

            .botonazo .hijoDeBotonazo:hover a {
                text-decoration: none;
                color: #241f21 !important;
            }
    </style>
</head>

<div class="row contenedorDetalles">
    <div class="col-12 container-fluid d-flex">
        <form asp-action="EfectuarReserva" asp-route-id="@Model.IdObra" class="col-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<button onclick="mostrarAsientos()">Ver butacas disponibles</button>*@
            <div class="form-group">
                <label for="cantidadEntradas" class="control-label">Selecciona la cantidad de entradas:</label>
                <select name="cantidadEntradas">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Reservar" class="inputReservar"/>
            </div>
            @if(ViewBag.capacidadSala != null)
            {
                <div>
                    <p>Capacidad disponible: @ViewBag.capacidadSala</p>
                </div>
            }
        </form>
        <div>
            <h1 class="booked"></h1>
            <h1 class="seatsbooked"></h1>
        </div>

    </div>
</div>
<div class="botonazo">
    <button class="hijoDeBotonazo" href=""><a asp-action="Index">Volver al listado de obras</a></button>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}